name: +test

on:
  pull_request:
    branches: ["**"]

jobs:
  run:
    name: Run tests
    # 16 core machines seem to have gone walkabout.
    runs-on: ubuntu-latest-16-core-x64
    env:
      FORCE_COLOR: 1
    steps:

      - name: Checkout node repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0

      - name: Install protobuf-compiler
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler libprotobuf-dev

      - name: install llcov
        run: |
          mkdir test-artifacts
          cargo install cargo-binstall --version 1.6.9
          cargo binstall --no-confirm cargo-nextest cargo-llvm-cov
          cargo llvm-cov nextest --profile ci --release --workspace --locked
          cargo llvm-cov report --lcov --release --fail-under-regions 14 --ignore-filename-regex res/src/subxt_metadata.rs --output-path test-artifacts/tests.lcov

      - name: Upload lcov test report artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: success() || failure()
        with:
          name: Lcov Coverage Report
          path: test-artifacts/tests.lcov

      - name: Coveralls
        uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
        with:
          github-token: ${{ github.token }}
          file: test-artifacts/tests.lcov
          format: lcov